.button {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.clickable {
    cursor: pointer;

    &:hover {
      background-color: lightgrey;

      &:active {
        background-color: grey;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    color: #ddd;

    &.clickable {
      &:hover {
        background-color: #222;

        &:active {
          background-color: #111;
        }
      }
    }
  }
}


fa-icon {
  font-size: 24px;
}
