.button {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.clickable {
    cursor: pointer;

    &:hover {
      background-color: lightgray;

      &:active {
        background-color: gray;
      }
    }
  }
}

fa-icon {
  font-size: 24px;
}
