:host {
  display: flex;
  flex-direction: row;
  flex: 1;

  .quick-filter {
    flex: 1;
    border: none;

    &:focus {
      outline: none;
    }

    @media (prefers-color-scheme: dark) {
      background-color: #333;
      color: #ddd;
    }
  }
}
